src/main/dtd/mc.dtd

<?xml encoding="UTF-8"?>
<!ELEMENT mc-templates (mc-template*)>
<!ELEMENT mc-template (mc-regex*)>
<!ATTLIST mc-template key CDATA "">
<!ATTLIST mc-template ignoreincomment CDATA "true">
<!ELEMENT mc-regex (#PCDATA)>
<!ATTLIST mc-regex lang CDATA "all">
<!ATTLIST mc-regex casesensitive CDATA "true">
